.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retry-btn {
  border: none;
  background-color: #4656a1;
  color: #fff;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}
