.course-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.course-item {
  width: 20%;
}

.course-name {
  color: #1e293b;
  font-weight: 600;
}
