.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.sub-courses-container {
  width: 90%;
  max-width: 1140px;
}

.courses-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.loader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
